<div class="text-muted" style="font-size: 0.85em;">
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
  <span class="d-inline-flex align-items-center">
    <i data-feather="calendar" class="mr-1" style="width: 1em;"></i>
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
  </span>
  {{ with .Params.tags }}
  <br>
  <i data-feather="tag" style="width: 1em;"></i>
  {{ range . }}
  {{ $href := print (absURL "tags/") (urlize .) }}
  <a class="badge badge-info font-weight-normal" href="{{ $href }}">{{ . }}</a>
  {{ end }}
{{ end }}
</div>
